<ion-content [fullscreen]="true" class="login-page">
  <div class="login-container" style="margin: auto; width: 40%;">


    <ion-card>
      <ion-header>
        <div style="display: flex; justify-content: center; align-items: center;">
          <img src="assets/cuenta-privada.png" alt="Logo" class="logo" style="margin: auto; width: 40%;" />
        </div>

      </ion-header>
      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="username" type="text" placeholder="Correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="login()" class="login-button">
          <ion-icon slot="start" name="key-sharp"></ion-icon>
          Iniciar Sesión</ion-button>

        <div class="buttons-container" style="margin: auto; width: 50%; align-content:flex-end;">
          <ion-button expand="block" fill="outline" (click)="crearCuenta()"><ion-icon slot="start"
              name="people-sharp"></ion-icon>Crear Cuenta</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>