<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2 *ngIf="usuario"><strong>{{usuario.usu_nombre}} {{usuario.usu_apellido}}</strong></h2>
        </ion-label>
      </ion-item>

      <ion-item (click)="nuevoLibro()">
        <ion-icon name="book-sharp" slot="start"></ion-icon>
        <ion-label>Nuevo Libro</ion-label>
      </ion-item>

      <ion-item (click)="nuevoLibro()">
        <ion-icon name="sparkles-sharp" slot="start"></ion-icon>
        <ion-label>Reseñas</ion-label>
      </ion-item>

      <ion-item (click)="logout()">
        <ion-icon name="exit-sharp" slot="start"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>EVALUACION 2DO PARCIAL</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" [scrollEvents]="true">
    <!-- <h2>Bienvenido, {{ userData[0]?.nom_persona }} {{userData[0]?.ape_persona}}</h2> -->
    <h2 *ngIf="usuario"><strong>Bienvenido, {{usuario.usu_nombre}} {{usuario.usu_apellido}}</strong></h2>
    <div class="container" style="margin: auto; width: 40%;">
      <ion-searchbar debounce="50" placeholder="Buscar libros..." (ionInput)="buscarLibros($event)"
        class="small-searchbar1">
      </ion-searchbar>
    </div>

    <ion-list>
      <ion-item *ngFor="let libro of libros; let i = index">
        <ion-label>
          <h2>{{ libro.titulo }}</h2>
          <h3>Autor: {{ libro.autor }}</h3>
          <h3>Editorial: {{ libro.editorial }}</h3>
          <ion-badge [color]="libro.anio === 'null' ? 'warning' : 'success'">
            Publicado: {{ libro.anio }} {{libro.codigo}}
          </ion-badge>
        </ion-label>

        <ion-button *ngIf="libro.codigo" (click)="verResenias(libro.codigo)"><ion-icon name="pencil"
            title="Editar"></ion-icon> </ion-button>

        <ion-button color="danger" (click)="borrarLibro(libro.codigo)"><ion-icon name="trash"
            title="Eliminar"></ion-icon></ion-button>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="backPage()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="nuevoLibro()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Mensaje cuando no hay resultados -->
    <div *ngIf="libros.length === 0" class="no-results">
      <p>No se encontraron resultados para la búsqueda.</p>
    </div>
  </ion-content>
</div>