.small-searchbar {
    width: 200px !important;
    /* Ajusta el ancho */
    height: 30px !important;
    /* Ajusta la altura */
    --background: #f4f4f4;
    /* Color de fondo */
    --padding: 4px;
    /* Espaciado interno */
    --border-radius: 8px;
    /* Bordes redondeados */
    font-size: 12px;
    /* Tamaño de fuente */
}