<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EVALUACION 2DO PARCIAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="splash-page">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Evaluación 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="splash-container">
    <img src="assets/libro-abierto.png" alt="logo" class="logo animated fadeIn">
    <h1><strong>EVALUACION 2DO PARCIAL</strong></h1>
    <p>Desarrollar una aplicación móvil donde los usuarios puedan crear y gestionar reseñas de libros. Se
      utilizarán dos tablas: "Libros" y "Reseñas".</p>
  </div>
</ion-content>